{    "status": {        "timestamp": "2018-08-15T14:51:30.318Z",        "error_code": 0,        "error_message": null,        "elapsed": 4,        "credit_count": 1    },    "data": {        "CHAT": {            "urls": {                "website": [                    "http://www.openchat.co/"                ],                "twitter": [],                "reddit": [],                "message_board": [],                "announcement": [                    " "                ],                "chat": [],                "explorer": [],                "source_code": []            },            "logo": "https://s2.coinmarketcap.com/static/img/coins/64x64/2427.png",            "id": 2427,            "name": "ChatCoin",            "symbol": "CHAT",            "slug": "chatcoin",            "date_added": "2018-01-19T00:00:00.000Z",            "tags": null,            "category": "coin"        }    }}