body {
	 font-family: sans-serif;
	 font-size: 24px;
}


.txtBig {
font-size: 28px;
font-size:large;
}

.txtSmall {
font-size: 17px;
font-family: Verdana,Helvetica,Arial;
}

.txtMed {
font-size: 19px;
font-family: Verdana,Helvetica,Arial;
}

.txtNrml {
font-size: 24px;
font-family: Verdana,Helvetica,Arial;
}

.txtLrg {
font-size: 26px;
font-family: Verdana,Helvetica,Arial;
}
.txtXLrg {
font-size: 28px;
/* font-family: Verdana,Helvetica,Arial; */
}